@import url('./__gallery/card-detail__gallery.css');
@import url('./__gallery-item/card-detail__gallery-item.css');
@import url('./__text-wrapper/card-detail__text-wrapper.css');
@import url('./__back-button/card-detail__back-button.css');

.card-detail {
    width: 1024px;

    margin: 0 auto;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}